
.birthday-gifts-title
{
    margin-top: 10px;
    font-size: 30px;
    background-color: #f5116c;
    color: white;
    display: block;
    text-align: center;
    

}
.birthday-container
{
margin-top: 25px;
background-color: rgb(217, 242, 242);
display: flex;
flex-direction: row;
justify-content:space-evenly;
align-items: center;
margin: auto;

}
.birthday-img-container
{
    height: 450px;
    width: 350px;
    border: solid 5px #FF597B;
    border-radius: 10px;
    box-shadow: #FF597B 3px;
    margin: 15px;
    cursor: pointer;

}
.birthday-img-container:hover
{
    box-shadow:2px 10px 10px 2px #e82d53;

}
.images
{
height: 350px;
width: 350px;
}

.gift-name
{
    
    font-size: 27px;
    color:white;
    background-color:#f5116c;
    height: 40px;
    text-align: center;
}
.BuyNow{
    margin-top: 10px;
     margin-left: 100px;
     margin-right: 100px;
     border: black solid 3px;
    font-size: 25px;
    color: white;
    background-color:#f75193;
    height: 30px;
    padding: auto;
    text-align: center;
    border-radius: 15px;
}
.BuyNow:hover{
    
    box-shadow:2px 10px 10px 2px #6f6e6e;
    background-color:white;
    color:#f75193;
}