body
{
   
	width: 100%;
    background-color:white;
	background-position: center;
	background-size: cover;
	position: absolute;
} 

#login-form
{
    display:block;
}

.form-box
{
    width:650px;
	height:440px;
	position:relative;
	margin:8% auto;
    box-shadow: 0 0 4px 3px rgba(95, 94, 94, 0.767);
	background:white;
	padding:10px;
    overflow: hidden;
}
h2{
	font-size: 35px;
}
p{
	font-size: 20px;
}

#login
{
	left:50px;
}

.input-group-login
{
	top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}

.input-field
{
	width: 450px;
	padding:10px;
	/* margin:5px 0 10px 0; */
	font-size: 25px;
	margin-top: 10px;
	margin-left: 60px;
	margin-right: auto;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
    color:black;
}


.check-box
{
	margin-top: 30px;
	margin-left:60px;   
}
span{
	font-size: 20px;
}


.submit-btn
{
	width: 500px;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
    margin-left: 50px;
    margin-right: auto;
    margin-bottom: 18px;
	background:white;
	border: 0;
	border-radius: 30px;
	box-shadow:1px 1px 1px 1px black;
	text-transform: uppercase;
	font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
	background-color:rgb(231, 31, 94);
    color:white;
    transition: 2s;
}
/* .submit-btn:hover{
	background-color:rgb(231, 31, 94);
    color:white;
    transition: 2s;
} */

#login-forget-password{
	font-size: 20px;
    margin-left: 60px;
    text-decoration: none;
    color: black;
    
   
 }
/* mobile */
@media screen and (min-width:450px) and (max-width:768px)
{

    body
{
   
	width: 100%;
    background-color:white;
	background-position: center;
	background-size: cover;
	position: absolute;
} 

.form-box
{
    width:500px;
	height:440px;
	position:relative;
	margin:3% auto;
    box-shadow: 0 0 4px 3px rgba(95, 94, 94, 0.767);
	background:white;
	padding:10px;
    overflow: hidden;
}

.input-field
{
	width: 300px;
	padding:10px;
	/* margin:5px 0 10px 0; */
	font-size: 25px;
	margin-top: 10px;
	margin-left: 60px;
	margin-right: auto;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
    color:black;
}


.submit-btn
{
	width: 350px;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
    margin-left: 50px;
    margin-right: auto;
    margin-bottom: 18px;
	background:white;
	border: 0;
	border-radius: 30px;
	box-shadow:1px 1px 1px 1px black;
	text-transform: uppercase;
	font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

    

}
/* laptop */
@media screen and (min-width:768px) and (max-width:1200px)
{

    body
{
	width: 100%;
    background-color:white;
	background-position: center;
	background-size: cover;
	position: absolute;
} 
.form-box
{
    width:650px;
	height:440px;
	position:relative;
	margin:8% auto;
    box-shadow: 0 0 4px 3px rgba(95, 94, 94, 0.767);
	background:white;
	padding:10px;
    overflow: hidden;
}




}